<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiFood"
        tools:targetApi="31">
        <activity
            android:name="vn.edu.tdc.xifood.activities.DanhGiaActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.staffProcessing.OrderStaffActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.staffProcessing.PurchaseStaffActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.staffProcessing.CartStaffActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.staffProcessing.AccountStaffActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.staffProcessing.MainStaffActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.edu.tdc.xifood.activities.OrderProcessingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.DetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.PurchaseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.PayingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.CartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.OrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="vn.edu.tdc.xifood.activities.AccountActivity" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.SettingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.ListProductsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>