<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.XiFood"
        tools:targetApi="31">
        <activity
            android:name="vn.edu.tdc.xifood.activities.ListProductsActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.OrderProcessingActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.PayingActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.OrderActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name="vn.edu.tdc.xifood.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>